<div class="form">
    <label>
        Username
        <input id="tb-username" class="form-control" type="text" value="test">
    </label>
    <br />
    <label>
        Password
        <input  id="tb-password" class="form-control" type="password" value="test1">
    </label>
    <br />
    <label>
        Password Again
        <input  id="tb-password2" class="form-control" type="password" value="test1">
    </label>
    <br />
    <button id="btn-register" class="btn btn-success">Register</button>
</div>